.logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;

}

.text {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-black);
    letter-spacing: -0.03em;
    margin-left: 14px;
}



@media (min-width: 768px) {
    .logo {
        margin-right: 32px;

    }

    .icon {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1440px) {
    .logo {
        margin-right: 60px;

    }


}