.logoutBtn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}