.logoutBtn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

@media (min-width: 1440px) {
    .logoutBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}