.wrapper {
    padding: 40px 0 20px 20px;

}

.scrollHint {
    position: fixed;
    bottom: 20px;
    left: 20;
    width: 100%;
    max-width: 670px;
    height: 10px;
    border-radius: 14px;
    background: #f1f1f1;
    overflow: hidden;
    margin: 0 auto;
}

.scrollHint::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 10px;
    border-radius: 14px;
    background: #e6e6e6;
}


@media (min-width: 768px) {
    .wrapper {
        padding: 50px 0 32px 32px;
    }

    .scrollHint {
        max-width: 960px;
        left: 32;
    }
}


@media (min-width: 1440px) {
    .wrapper {
        padding: 75px 40px 40px 40px;
    }

    .scrollHint {
        display: none;
    }
}