.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.tables {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
    min-width: 0;
    align-items: center;
}

.error {
    color: var(--color-danger);
    padding: 24px;
}

@media (max-width:375px) {
    .scrollHint {

        width: 100%;
        max-width: 335px;
        height: 10px;
        border-radius: 14px;
        background: #f1f1f1;
        overflow: hidden;
        margin: 0 auto;
    }

    .scrollHint::after {
        content: "";
        position: absolute;
        width: 45%;
        height: 10px;
        border-radius: 14px;
        background: #e6e6e6;
    }

}

@media (min-width: 768px) {
    .wrapper {
        padding: 20px 0 20px 32px;
        gap: 40px;
    }

    .tables {
        gap: 20px;
        width: fit-content;
        margin: 0 auto;
        align-items: stretch;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        padding: 20px 40px;
    }

    .tables {
        flex-direction: row;
        width: auto;
        margin: 0;
        align-items: stretch;
    }
}